name: Build Docker image for Soda Core

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: useblacksmith/setup-docker-builder@v1

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: useblacksmith/build-push-action@v2
        with:
          context: .
          tags: latest
          labels: albal/soda-core
